@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


:root{
    --main-bg-color: #FEDBC7;
    --verycold-bg-color: #9AD1D8;
    --cold-bg-color: #9FDFCE;
    --warm-bg-color: #FCE7A4;
    --hot-bg-color: #FE981B;
    --veryhot-bg-color: #E75A2D;
}

*{
    font-family: "SUSE", system-ui;
}

body{
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

.searchbox{
    margin: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;   
}

.searchbox input{
    width: 202px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    padding-left: 20px;
}

.searchbox button{
    border: 0;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    color: var(--main-bg-color);
    background-color: black;
    cursor: pointer;
}

::placeholder{
    color: black;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
}

.headline h2{
    margin-left: 20px;
    font-weight: bold;
    font-size: 50px;

}

.headline{
    flex: 1;
    display: block;
}



.weather{
    margin-left: 20px;

}

.temperature{
    font-size: 72px;
}

.city{
    font-size: 48px;
}

.type{
    font-size: 36px;
}

.humidity {
    font-size: 30px;
}

.wind{
    font-size: 30px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img{
    position: relative;
    top: 19px;
}





















/* *{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(bcg.jpg);
    background-size: cover;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 50px auto 50px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.searchbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchbox input{
    border: 0;
    outline: 0;
    background: #ffffff;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    color: black;
}
.searchbox button{
    border: 0;
    outline: 0;
    background: #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;    
}
.searchbox button img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.humidity{
    font-size: 20px;
    text-align: left;
}
.wind{
    font-size: 20px;
    text-align: right;
}
.humidity h2, .wind h2{
    font-size: 30px;
}

.weather{
    display: none;
}
.error{
    margin-top: 20px;
    font-size: 20px;
    display: none;
}
.details h2{
    font-size: 20px;
}
.col h2,div{ 
    font-size: 30px;
} */
